@import "nullstyle.scss";
/* подключение_нулевых стилей */

/* Шрифты */

/* Шрифты_конец */


///* Шаблоны *///

$maxWidth:1200;

@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize   : $pcSize - $mobSize;
    $addMobSize: $addSize + $addSize * 0.7;

    @media (max-width:47.9375em) {
        font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 280px) / #{$maxWidth}));
    }

    @media (min-width:47.9375em) {
        font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));

    }

}

//@include adaptiv-font(44, 12);///

/* Шаблоны */
body {
    height          : 100%;
    background-color: #333;
    min-width       : 280px;
    font-family     : "Lexend Mega", "Helvetica Neue", Helvetica, sans-serif;
    width           : 100%;
    overflow-x      : hidden;
    list-style      : none;
}

body._lock {
    overflow: hidden;
}

html {

    font-size: 20px;
}

////usuallys
.container {
    margin   : 0 auto;
    padding  : 0 20px;
    max-width: calc(#{$maxWidth * 1px} + 40px);
}

.wrapper {
    min-height: 100vh;
    overflow: hidden;
}


.header {
    position   : fixed;
    top        : 0;
    left       : 0;
    width      : 100%;
    height     : 60px;
    display    : flex;
    align-items: center;
    z-index    : 60;
}

.header::before {
    content         : "";
    position        : absolute;
    z-index         : 40;
    top             : 0;
    left            : 0;
    width           : 100%;
    height          : 100%;
    background-color: rgb(26, 139, 45);
}

@media (min-width:768px) {

    .header {
        height: 80px;
    }
}


.header__container {}

.header__body {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
}

.header__logo {
    flex    : 0 0 60px;
    position: relative;
    z-index : 50;
}

@media (max-width:768px) {
    .header__logo {
        flex: 0 0 40px;
    }
}

.header__logo img {
    max-width: 100%;
}

.header__menu {}

.menu {
    flex    : 1 1 auto;
    position: relative;
    z-index : 50;

}

@media (max-width:768px) {
    .menu {
        z-index: 11;

        position   : fixed;
        top        : 0;
        left       : 0;
        width      : 100%;
        height     : 100vh;
        overflow   : auto;
        display    : flex;
        padding-top: 60px;
        transform  : translateX(-100%);
        transition : 0.8s;
    }

}

.menu._active {
    transform: translateX(0%);

}

.menu__list {
    position      : relative;
    text-align    : center;
    text-transform: uppercase;

}


.menu__sub-list {
    ////////////////////////////////////////////////
    position      : absolute;
    left         : 0%;
    top           : 100%;
    opacity       : 1;
}

._pc .menu__sub-list {
    pointer-events: none;

}

.menu__sub-list{
   
}
@media (min-width:768px) {
    .menu__sub-list {
        transition: 0.4s;

        opacity: 0;
        visibility: hidden;
        transform     : translateY(10%);
    }
    .menu__sub-list._active {
        opacity: 1;
    visibility: visible;
        transform     : translateY(0%);
    } 
}


@media (max-width:768px) {
    .menu__sub-list {
        position  : relative;
        top       : 0%;
        left         : -0%;
        opacity   : 1;
        display   : none;
        visibility: visible;
        width: 100%;
    }
    .menu__sub-list._active{
        position: relative;
        transform: translate(0%,0%);
     }
    .menu__sub-list > li{
        border-bottom: 2px solid #333;
    }

}


.menu__list li {
    position: relative;
}

@media (max-width:768px) {
    .menu__list {
        width           : 30%;
        background-color: #333;
    }
}
@media (max-width:320px) {
    .menu__list {
        width           : 35%;
    }
}
@media (min-width:768px) {
    .menu__list {
        display        : flex;
        justify-content: flex-end;

    }
}

.menu__list>li {
    margin-left: 50px;
    padding    : 10px 0;
    align-items: center;
}
@media (max-width:768px){
    .menu__list > li{
        background-color: #333;
    }
}

body._touch .menu__list>li {
    ////////////////////////////////////////////
    display    : flex;
    align-items: center;
}
@media (max-width:768px) {
    body._touch .menu__list>li {
        ////////////////////////////////////////////
        /* align-items: flex-start;                                          */
        display: block;

    }
}

.menu__sub-list  li {
    background-color: azure;
    border-bottom: 1px solid #333;

    /////////////////////////////////////////////
  
}
@media (min-width:768px) {
    .menu__sub-list li{
    padding: 20px;}
}

body._pc .menu__list>li:hover .menu__sub-list {
    ///////////////////////
    opacity       : 1;
    pointer-events: all;

    transform : translateY(0%);
    visibility: visible;
}


@media (max-width:768px) {
    .menu__list li {
        padding         : 0px 0;

        margin-left  : 0px;
        text-align   : center;
        max-width    : 100%;
        border-bottom: 1px solid white;
        
    }
    body._touch .menu__list>li {

    }
    .menu__sub-list > li {
        /////////////////////////////////////////////
        padding         : 10px;
        background-color: white;
    }
}
@media (max-width:768px) {
    .menu__sub-list {
        position  : relative;
        top       : 0%;
        left         : -0%;
        opacity   : 1;
        display   : none;
        visibility: visible;
        width: 100%;
    }
    .menu__sub-list._active{
        position: relative;
        transform: translate(0%,0%);
     }
    .menu__sub-list > li{
        background-color: azure;
        border-bottom: 1px solid #333;
    }

}
.menu__list li:first-child {
    border-top: 1px solid transparent;

}

.menu__link {
    display: inline-block;
    color  : rgb(255, 255, 255);
    font-weight: 600;
    @include adaptiv-font(20, 15);
    

}

a.menu__sub-link {
    //////////////////////////////////////////////////////////////
    color: #333;

    @include adaptiv-font(18, 15);

}




@media (max-width:768px) {
    .menu__link{
        padding      : 30px 30px 30px 30px;

    }
}
@media (max-width:576px) {
    .menu__link{
        padding      : 20px;

    }
}

body._touch .menu__list li a {
    flex  : 1 1 auto;
}


.header__burger {
    display   : none;
    cursor    : pointer;
    position  : relative;
    z-index   : 50;
    width     : 40px;
    height    : 25px;
    transition: 0.4s;
}


.header__burger::before,
.header__burger::after {
    content: "";
}

.header__burger::before,
.header__burger::after,
.header__burger span {
    width           : 100%;
    transition      : inherit;
    position        : absolute;
    height          : 3px;
    background-color: aliceblue;
}

.header__burger::before {
    top      : 0;
    left     : 0;
    transform: translate(0, 0);
}

.header__burger._active::before {
    top      : 50%;
    left     : 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.header__burger span {
    left     : 0;
    top      : 50%;
    transform: translateY(-50%) scale(1);
}

.header__burger._active span {
    transform: translateY(-50%) scale(0);

}

.header__burger::after {
    left  : 0;
    bottom: 0;
}

.header__burger._active::after {
    bottom   : 50%;
    left     : 50%;
    transform: translate(-50%, 50%) rotate(-45deg);
}

@media (max-width:768px) {
    .header__burger {
        display: block;
    }

}


.menu__arrow {
}

.arrow {
    right       : 0px;
    border-left : 7.5px solid transparent;
    border-top  : 13px solid white;
    border-right: 7.5px solid transparent;
    display     : none;
    margin-left : 10px;
    cursor: pointer;
    transition: 0.4s;
    margin-top: -3px;
}

@media (max-width:768px) {
    .arrow {

    margin-top : 0.3vh;
    }
    .arrow {
position: absolute;
width: 0;
height: 0;
top: 30px;
right: 10px;
    }

}

@media (max-width:576px) {
    .arrow{
        top: 22px;
        border-left : 5px solid transparent;
        border-top  : 9px solid white;
        border-right: 5px solid transparent;
    }
}
@media (min-width:375px)and(max-width:578px) {
    .arrow {
        margin-top : 0.2vh;
        }
}
@media (max-width:320px) {
    .arrow {
        margin-top : 0.15vh;
        position: absolute;
width: 0;
height: 0;

right: 7.5px;
        }
}

body._touch .arrow {
    display: block;
}

.arrow._active {
    transform: translateY(0%) rotate(90deg);

}


.menu__sub-link {}




.bg_fon {
    opacity         : 0;
    visibility      : hidden;
    transition      : 0.8s;
    position        : fixed;
    top             : 0;
    left            : 0;
    z-index         : 10;
    width           : 100vw;
    height          : 100vh;
    background-color: hsla(348, 88%, 14%, 0.753);
}

.bg_fon._active {
    opacity   : 1;
    visibility: visible;
}




























.block-fruit {
    position: relative;
    z-index : 10;
    width: 100vw;
    
}

.block-fruit.paddingTop {
    padding-top: 80px;
}

@media (max-width:768px) {
    .block-fruit.paddingTop {

        padding-top: 60px;
    }

}

.block-fruit__content {
    transform : translateX(-100%);
    opacity   : 0;
    transition: 0.8s;
}

.block-fruit__content._active {
    transform: translateX(0%);
    opacity  : 1;
}

.block-fruit_even{
}

.block-fruit_even .block-fruit__content {
    transform: translateX(100%);

}

.block-fruit_even .block-fruit__content._active {
    transform: translateX(0%);
}

.block-fruit__container {}

@media (min-width:768px) {
    .block-fruit {
        display : flex;
        overflow: hidden;
    }

    .block-fruit__content {
        flex       : 0 0 100%;
        display    : flex;
        align-items: center;
    }

    .block-fruit__container {
        flex   : 1 1 auto;
        display: flex; ////////////////////////////////////////////////////////////////////////////////////////////////
    }


    .block-fruit__body {
        padding: 0 20px 0 0;
        flex   : 0 0 40%;
    }

}

.block-fruit__body {}

.block-fruit__title {
    line-height: 1.5;

}

.block-fruit__text {
    line-height: 1.5;
}

.block-fruit__image {}

.block-fruit__image {
    transform : translateX(100%);
    opacity   : 0;
    transition: 0.8s;
}

.block-fruit__image img {
    transition: inherit;
    transform : scale(0);
}

.block-fruit__image._active {
    transform: translateX(0);
    opacity  : 1;
}

.block-fruit__image._active img {
    transition: 0.8s;
    transform : scale(1);

}

@media (min-width:768px) {

    .block-fruit__image {
        transform: translateX(0%);
    }

    .block-fruit__image._active {
        transform: translateX(-100%);
    }

    .block-fruit__image {
        flex: 0 0 calc(((100vw - 40px) * 0.6) + 20px);
    }
}

@media (min-width:1240px) {
    .block-fruit__image {
        flex: 0 0 calc(50vw - (0.4 - 0.5) * 1200px);
    }
}

.block-fruit__image img {
    max-width: 100%;
    height   : 100%;
}

@media (min-width:768px) {}

@media (min-width:1240px) {}

.block-fruit_even .block-fruit__content {
    padding-left: 20px;
}

.block-fruit_even .block-fruit__image {
    transform: translate(0);
    flex     : 0 0 calc(50vw - (0.6 - 0.5) * 1200px);
}

.block-fruit_even .block-fruit__image {
    transform : translateX(-100%);
    opacity   : 0;
    transition: 0.8s;
}

.block-fruit_even .block-fruit__image img {
    transition: inherit;
    transform : scale(0);
}

.block-fruit_even .block-fruit__image._active {
    transform: translateX(0%);
    opacity  : 1;
}


.block-fruit_even .block-fruit__image._active img {
    transform: scale(1);
}


@media (min-width:768px) {
    .block-fruit_even .block-fruit__image {
        flex: 0 0 calc(((100vw - 40px) * 0.4) + 20px);
    }
}

@media (min-width:1240px) {
    .block-fruit_even .block-fruit__image {
        flex: 0 0 calc(50vw - (0.6 - 0.5) * 1200px);
    }
}

























.popup-link {
    color         : aliceblue;
    text-transform: uppercase;
    font-weight: 700;
}

.popup-block {
    background-color: hsla(208, 100%, 97%, 0.712);
    position        : fixed;
    width           : 100%;
    z-index: 100;
    min-height      : 100vh;
    top             : 0;
    left            : 0;
    opacity         : 0;
    transition      : 0.8s;
    visibility      : hidden;
}

.popup-block._active {
    visibility: visible;
    opacity   : 1;
}

.popup-block__item {
    padding   : 50px 0;
    opacity   : 0;
    position  : fixed;
    width     : 100%;
    height    : 100%;
    top       : 0;
    left      : 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 1s;
    transform : perspective(600px) translate(0%, -100%) rotateX(45deg);
}

.popup-block__item._active {
    transform: perspective(600px) translate(0%, 0%) rotateX(0deg);

    opacity: 1;
}

.popup-block__body {
    max-width: 800px;
    margin   : 0 auto;
}

.popup-block__content {
    padding         : 30px;
    background-color: #333;
    position        : relative;
}

.popup-block__title {}

.popup-block__close {
    position : absolute;
    top      : 15px;
    right    : 15px;
    color    : aliceblue;
    font-size: 20px;

}

.popup-block__text {}

///////////////////////////////////